.App{
  font-family: 'Source Sans Pro', sans-serif;
}
.title{
  /* background: url("./assets/matches.png"); */
  /* background-size: cover; */
  text-align: center;
}

.title-text{
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 20%; 
}

.matches{
  height: 500px;
  width: 100%;
}

.navbar{
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: small;
}

.ideas{
  height: 200px;
  width: 100%;
  opacity: 70%;
}

.section-two-text{
  color: gold;
}